*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: $primaryFontFamily, sans-serif;
  text-align: justify;
  margin: 0;
  padding: 0;
  background-color: $bodyBackgroundColor;
  color: color(black);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $secondaryFontFamily, $primaryFontFamily, sans-serif;
  text-align: center;
}

a, a:link, a:visited {
  text-decoration: none;
  color: color(black);
}

a:hover {
  text-decoration: underline;
}