---
---

$header-bg-color: #d30005;
$header-bg-color-secondary: #dc7710;
$section-headings-color: #d30005;

@import "{{ site.theme }}";

.page-header {
  padding-top: calc(0.75rem + 80px);
  position: relative;
}

.main-content {
  position: relative;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;

  background: transparent;
}

.navigation > ul {
  list-style-type: none;
  padding: 0 0 0 30px;
  margin: 0;
  width: 100%;
  height: 80px;

  background: transparent;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.navigation > ul > li {
  margin-right: 20px;
}

.navigation > ul > li .btn {
  margin: 0;
  background-color: transparent;
  color: #FFFFFF;
}

.navigation > ul > li .btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #d30005;
}

.logo-containar {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.doc-menu {
  position: absolute;
  left: -200px;
  border-right: 2px solid $section-headings-color;
  text-align: right;
  padding: 30px;

  @include medium {
    position: static;
    text-align: center;
    padding: 0 0 10px;
    border-right: none;
    border-bottom: 2px solid $section-headings-color;
  }

  @include small {
    position: static;
    text-align: center;
    padding: 0 0 10px;
    border-right: none;
    border-bottom: 2px solid $section-headings-color;
  }
}

.doc-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.doc-menu ul > li > a {
  color: $body-text-color;
}

.doc-menu ul > li > a:hover {
  color: $section-headings-color;
  text-decoration: none;
}